<div *ngIf="!loading"  class="add-cat-div">
    <div class="form-floating">
        <input type="text" class="form-control" [(ngModel)]="name"  >
        <label>Name</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control" [(ngModel)]="atk">
        <label>ATK</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control" [(ngModel)]="def">
        <label>DEF</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" [(ngModel)]="img">
        <label>Image url</label>
      </div>
    <button type="button" class="btn btn-primary" (click)="addCat()">Add a cat</button>
</div>