<!-- {{cats|json}} -->
<h4>
  Üdvözöllek a Cat Arenában! <br />
  Ezen az oldalon lehetőséged van macskákat harcoltatni! <br />
  A főoldalon található "Fight" gombbal tudod összemérni a macskák erejét, ahol
  a rendszer véletlenszerűen kisorsol 2 macskát és csatába küldi. <br />
  Ha szeretnéd kipróbálni saját kis kedvenced erejét, akkor nincs más dolgod,
  mint az "Add a cat" fülre kattintani, kitölteni a szükséges mezőket és kis
  kedvenced be is kerül az összesorsolható harcosok közé! <br />
  Harcolj különféle macskákkal, légy te a legjobb macskatréner!
</h4>
<div class="text-center">
  <button
    type="button"
    routerLink="/battlefield"
    class="btn btn-primary btn-lg btn-warning"
  >
    FIGHT
  </button>
</div>
